.muddy_bg {
  background: var(--muddy);
}
.muddy {
  color: var(--muddy);
}
.light_dark_bg {
  background: var(--light-dark);
}
.medium_dark_bg {
  background: var(--medium-dark);
}
.dark_bg {
  background: var(--dark);
}
.white {
  color: white;
}
.b {
  border: 1px solid var(--border);
}
.bl {
  border-left: 1px solid var(--border);
}
.br {
  border-right: 1px solid var(--border);
}
.bt {
  border-top: 1px solid var(--border);
}
.bb {
  border-bottom: 1px solid var(--border);
}

.fw-3 {
  font-weight: 300;
}
.fw-4 {
  font-weight: 400;
}
.fw-5 {
  font-weight: 500;
}
.fw-6 {
  font-weight: 600;
}
.fw-7 {
  font-weight: 700;
}
.fw-8 {
  font-weight: 800;
}
.fw-9 {
  font-weight: 900;
}
