/****** muddy color btn ******/
.muddy_btn {
  border-radius: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: var(--transition);
  font-size: 17px;
  font-weight: 600;
  background: var(--muddy);
  color: var(--dark);
  gap: 5px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  &:hover::before {
    width: 100%;
    visibility: visible;
    opacity: 1;
  }
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0%;
    height: 100%;
    background: white;
    transition: var(--transition);
    z-index: -1;
    visibility: hidden;
    opacity: 0;
    border-radius: 30px;
  }
}
