.header_toggle_btn {
  vertical-align: middle;
  &:active {
    border-color: transparent !important;
  }
  &:hover {
    span {
      &:not(:nth-child(2)) {
        width: 15px;
      }
    }
  }
  span {
    width: 27px;
    height: 3px;
    background: white;
    display: block;
    transition: var(--transition);
    & + span {
      margin-top: 5px;
    }
  }
}
