body {
  margin: 0;
  font-family: var(--body-font);
  background: var(--dark);
}

input {
  outline: 0;
}

select {
  outline: 0;
  border: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  transition: all 0.3s;
}

ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 0;
}

button {
  border: 0;
  background-color: transparent;
}

img {
  max-width: 100%;
}
