.pr-75 {
  padding-right: 75px;
  @include screen-1600 {
    padding-right: 60px;
  }
  @include screen-1400 {
    padding-right: 50px;
  }
  @include screen-1199 {
    padding-right: 30px;
  }
}

.pl-75 {
  padding-left: 75px;
  @include screen-1600 {
    padding-left: 60px;
  }
  @include screen-1400 {
    padding-left: 50px;
  }
  @include screen-1199 {
    padding-left: 30px;
  }
  @include screen-575 {
    padding-left: 0px;
  }
}

.ptb-110 {
  padding: 110px 0;
}

.pt-110 {
  padding-top: 110px;
}
.pb-110 {
  padding-bottom: 110px;
}

.ptb-75 {
  padding: 75px 0;
}
