@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@100;300;400;500;600;700;800;900&display=swap");

:root {
  --body-font: "Encode Sans Expanded", sans-serif;
  --light-dark: #222227;
  --medium-dark: #212125;
  --dark: #1c1d20;
  --muddy: #e8bf96;
  --border: #333437;
  --text: #999;
  --transition: 0.4s all;
}
