/***** Banner part ******/
.banner_item {
  padding: 70px 75px;
  h6 {
    padding: 25px 0;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
  }
  ul {
    gap: 10px;
    li {
      a {
        width: 45px;
        height: 45px;
        border-radius: 5px;
        display: inline-flex;
        background: white;
        color: var(--dark);
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 1;
        &:hover::before {
          transform: scale(1);
          visibility: visible;
          opacity: 1;
        }
        &::before {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          background: var(--muddy);
          border-radius: 5px;
          transition: var(--transition);
          transform: scale(0.5);
          visibility: hidden;
          opacity: 0;
          z-index: -1;
        }
      }
    }
  }
}

.banner_middle {
  padding-top: 115px;
  text-align: center;

  h1 {
    color: white;
    font-size: 60px;
    width: 802px;
    margin: auto;
    max-width: 100%;
    span {
      color: var(--muddy);
    }
  }
}

.banner_img {
  margin-top: 70px;
  a {
    width: 245px;
    height: 60px;
    border-radius: 10px;
    background: white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 18px;
    color: var(--dark);
    font-weight: 600;
  }
  .dribble {
    left: 0;
  }
  .bihance {
    right: 0;
  }
}

.banner_m {
  border-left: 2px solid var(--border);
  border-right: 2px solid var(--border);
}

@media (max-width: 1200px) {
  .banner_l {
    order: 2;
  }
  .banner_m {
    order: 1;
    border-left: 0;
    border-right: 0;
  }
  .banner_r {
    order: 3;
  }
}

/***** Profile counter part ******/
.profile_counter {
  .common_heading {
    h1 {
      width: 1015px;
      margin: auto;
      max-width: 100%;
      text-align: center;
    }
  }
}

.counter_item {
  border-radius: 5px;
  padding: 30px 0;
  h1 {
    font-size: 60px;
  }
}

/***** education experience part ******/
.edu_ex_content {
  h2 {
    margin-bottom: 40px;
  }
  ul {
    li {
      border-radius: 5px;
      padding: 24px;
      justify-content: space-between;
      & + li {
        margin-top: 25px;
      }
      .year {
        font-weight: 600;
        color: var(--muddy);
        width: 135px;
      }
      .content {
        width: 285px;
      }
    }
  }
}

/***** expertise skill part ******/
